<!DOCTYPE HTML>
<html lang="en" dir="ltr">
<head>

<style>
body
	{
	border: 25px solid maroon;
 	background-color: linen;
	margin-left: 40px;
	margin-top: 30px;
	padding: 20px;
	text-align: justify;
}
H1{
	width: 400px;
  	background-color: white;
	color: rgb(128,0,0, .5);
}
p{
	background-color: white;
	width: 500px;
  	padding: 5px;
	letter-spacing: 2px;
}
</style>
    <meta charset="utf-8">
    <title>railway reservation form</title>
  </head>

<BODY>
<form action = "/trains" method = "POST">
 

<center><H1 style= "border: 2px solid pink";>RESERVATION FORM</H1></center>
<P>NAME<INPUT TYPE="TEXT" name="name" SIZE="58" MAXLENGTH="99" />
<p>AGE<INPUT TYPE="TEXT"  name="age" SIZE="60" MAXLENGTH="99" />
<p>ADDRESS<INPUT TYPE="TEXT" SIZE="53" name="address" MAXLENGTH="99" />
<p>EMAIL<INPUT TYPE="TEXT"  name="email" SIZE=57"  MAXLENGTH="99" />
<p>PHONE<INPUT TYPE="TEXT" name="phone" SIZE=50" MAXLENGTH="99" />
<p>Traveling from city <SELECT name="origin"><option>select</option><option>Delhi</option><option>Pune</option><option>Bangalore</option><option>Kolkata</option><option>Mumbai</option>
</select>
<p>Traveling to city <SELECT name="destination"><option>select</option><option> Delhi</option><option>Pune</option><option>Bangalore</option><option>Kolkata</option><option>Mumbai</option>
</select>
<p>Date <INPUT TYPE="TEXT" name="date" SIZE="33" MAXLENGTH="99" />
<input type="submit" value="submit" />
<input type="reset" value="clear" /></form>
<a href="/logout">Click here to log out</a>
</BODY></HTML>