<html>
<html lang="en" dir="ltr">
<head>
	<script type = "text/javascript"
		scr = "{{ url_for('static', filename= 'continue.js')}}">
	</script>
</head>
<style>
body
	{
		border: 2px solid maroon;
		background-color: linen;
	}
</style>

<body>
	
	<p>Select Your Berth<SELECT BERTH= ><option>select</option><option>upper</option><OPTION>lower</OPTION><option>middle</option><OPTION>side lower</OPTION><option>side upper</option>/>
	</select>
	<p>Select Your Class <SELECT CLASS= ><option>select</option><option>First class Air-Conditiones(AC)(Code: 1A)</option><OPTION>AC 2-tier sleeper(Code:2A)</OPTION><option>First class(Code:FC)</option><OPTION>AC 3 Tier(Code:3A)</OPTION><option>3E-AC 3 Tier Economy</option><option>AC chair Car(Code:CC)</option><option>Sleeper Class(Code:SL)</option><option>Second Sitting(Code:2S)</option>
	</select>
<p><input type="submit" value="submit" />
<input type="reset" value="clear" />    
</form>

<a href="/logout">Click here to log out</a>
</BODY>
</HTML>