<html>
<html lang="en" dir="ltr">
<style>
body
	{
		border: 2px solid maroon;
		background-color: linen;
	}
</style>

<body>
	<form action = "/save" method = "POST">
	<p>Select Your Berth <SELECT name="berth"><option>select</option><option>upper</option><option>lower</option><option>middle</option><option>side lower</option><option>side upper</option>/>
	</select>
	<p>Select Your Class <SELECT name="bclass"><option>select</option><option>First class Air-Conditiones(AC)(Code: 1A)</option><option>AC 2-tier sleeper(Code:2A)</option><option>First class(Code:FC)</option><option>AC 3 Tier(Code:3A)</option><option>3E-AC 3 Tier Economy</option><option>AC chair Car(Code:CC)</option><option>Sleeper Class(Code:SL)</option><option>Second Sitting(Code:2S)</option>
	</select>
<p><input type="submit" value="submit" />
<input type="reset" value="clear" />    
</form>

<a href="/logout">Click here to log out</a>
</BODY>
</HTML>