<html>
	

<html lang="en" dir="ltr">
<head>
 
	<meta charset="utf-8">
	<script type = "text/javascript"
		scr = "{{ url_for('static', filename= 'continue.js')}}">
	</script>
</head>
<style>
body
	{
		border: 2px solid maroon;
		background-color: linen;
	}
</style>
</head>

   
<body>
   
	<form action = "/" method = "POST">
	<center><p>to view/download the ticket </p>   
	<input type = "submit" value = "view" />  
	<input type = "submit" value = "download" />
	</center>
	</form>
</body>

</html>
